body{
    color:white;
    background-color: black;
}.df{
    display: flex
}
.wrap{
    flex-wrap: wrap;
}
.ta{
    text-align: center;
}
.jc{
    justify-content: space-between;
}
.mx{
    max-width: 1000px;
    margin: auto;
}

